.pics-div{
    size: 30px;
}

.div-inline{
    display: inline-block;
}

.intro-div{
    margin-top: 21px;
    background-color: beige;
}

.skills-div{
    background-color: bisque;
}

.experience-div{
    background-color: #FCCBCB;
}

.text-font{
    font-family: cursive;
    /* margin-left: 10%; */
}

.edu-div{
    background-color: aqua;
}

.certification-div{
    background-color: beige;
}

footer{
    background-color: aquamarine;
}

.copy-footer-div{
    padding-top: 1%;
    padding-bottom: 1%;
}